@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* 1. Eigene Farbnamen (Tokens) definieren */
  --color-bg: var(--bg-main);
  --color-text: var(--text-main);
  --color-bg-menu: var(--bg-menu);
  --color-accent: var(--accent);
  --color-middle: var(--middle);
}

html {
  --bg-main: #f1faee;
  --text-main: #1d3557;
  --bg-menu: #a8dadc;
  --accent: #e63946;
  --middle: #457b9d;
}

html.dark {
  --bg-main: #16213E;
  --text-main: #F9F9F9;
  --bg-menu: #1A1A2E;
  --accent: #E94560;
  --middle: #0F3460;
}

@layer base {
  *, ::before, ::after {
    @apply transition-colors duration-300 ease-in-out;
  }
}